@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #ff2e00;
  overscroll-behavior-y: none;
}

.glass-card {
  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}

::selection {
  background: #0019ff;
  color: #ffffff;
}
